*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 13px;
}
img{
    max-width: 100%;
}
body
{
    background-color: #e7ecf4;
}

/* padding chung */
/* margin chung */
/* text-color chung */

/* header */
header{
  background-color: #222;  
  padding: 10px 0px;
}

#search input{
    border: none;
    margin-right: -5px;
    width: 277px;
    height: 30px;
    float: left;
    padding-left: 12px;
    border-radius: 5px 0px 0px 5px;
}

#search input::placeholder{
    color: #333;
}

#search button{
    border: none;
    height: 30px;
    width: 78px;
    float: left;
    background-color: #eb1f27;
    border-radius: 0px 5px 5px 0px;
}
#search{
    overflow: auto;
}

#sup-cart a{
    width: 30px;
    height: 30px;
    background-color: #eb1f27;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
#sup-cart{
    text-align: right;
}


/* css menu */

.menu{
    background-color: #eb1f27;
    padding: 0px;
}

.text-menu{
    display: none;
}

.nav-item a{
    padding: 14px !important;
    border-right: 1px solid #c60a11;
}

.nav-item a:hover{
    background-color: #c60a11;
}
nav{
    margin-bottom: 10px;
}

/*CSS banner */
#list-banner img{
    margin-bottom: 10px;
}


/*CSS footer */
footer{
    background-color: white;
    padding: 25px 0px;
    margin-top: 30px;
}
footer p{
    margin-bottom: 0px;
}
#info-footer img{
    margin-bottom: 13px;
}
.box-info h3{
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}


/* Css footer bottom */
#footer-bottom{
    background-color: #1d1e24;
    color: white;
    padding: 12px 0;
}
#footer-bottom p{
    margin-bottom: 0px;
}