body{
	background-image: url(comic/backround.jpg);
	width: 1300px;
	height: 1300px;
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 0.9em;
	line-height: 1.5em;

 background: white;
   color: 333;
}

    
#main{
	width: 1000px;
	margin: 0 auto;
}
#head{
	height: 100px;
	background: #1dee5d;
	color: #fff
}
#head h1{
	margin: 0;
	padding: 5px 15px;
	font-family: "Comic Sans MS";
	font-size: 1.3em;
}
#head h2{
	margin: 0;
	padding: 0px 100px;
	font-family: "Comic Sans MS";
	font-size: 1.3em;
}#head h3{
	margin: 0;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 1.5em;
}#head h4{
	margin: 0;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 1.5em;
}
#menutop{
	height: 35px;
	background: #fff953;
	color: #fc0404;
}
#menutop ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#menutop ul li a{
	float: left;
	text-decoration: none;
	color: red;
	padding: 7px 17px;
	font-weight: bold;
}
#menutop ul li a:hover{
	color: #fff000;
	background: #146834;
}
#maincontent{
	float: right;
	width: 100%;
	border-radius: 7px;
}
#content{
	margin-right: 300px;
	background:#f1f9fd;
	border-radius: 7px;
}
#noidung{
	padding: 15px;
	text-align: justify;
	border-radius: 7px;

}
#right{
	float: right;
	margin-right: -100%;
	width: 300px;
	background: #fff;
	border-radius: 10px;

}
#menuright{
	margin: 0 auto;
	padding: 15px 5px;
}
#menuright ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.8em;
}
#menuright ul li a{
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #044e63;
}
#menuright ul li a:hover{
	color: #631404;
	text-decoration: underline;
}
.dinhdang{
	width: 97%;
	background: #eef8fb;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 2px 5px 20px #0a4657;
}
.dinhdang h1{
	margin: 0;
	padding: 5px 15px;
	font-size: 1em;
	color: #fff000;
	background: #16708a;

}
#footer{
	clear: both;
	background: #144d68;
	color: white;
	padding: 20px;

}
#comic{
	margin-right: 300px;
	background:#f1f9fd;
}
.box{
width: 100%;
	background: #fff000;
	margin: 20px auto;
	border-radius: 15px;
	box-shadow: 5px 10px 20px #0a4657;
}
#issue{
	padding: 15px;
	text-align: justify;
}
#issue ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.8em;
}
#issue ul li a{
		padding: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #044e63;
}
#issue ul li a:hover{
	color: #631404;
	text-decoration: underline;
}
.img{
	box-shadow: 5px 10px 20px #0a4657;
}
